.alert {

   &__changes {
      padding: 10px;
      font-weight: 500;
      font-size: 14px;
      background-color: rgba(55, 150, 57, 0.5);
   }
   &__count{
      padding: 5px;
      text-align: center;
      color: white;
      font-size: 14px;
   }
   &__attention{
      color: gold;
      font-size: 16px;
      text-align: center;
   }
}
