// colors
$background-main-color: rgb(20, 33, 61);
$background-secondary-color: #379683;
$background-third-color: rgba(115, 149, 174, 0.5);
$background-four-color: rgba(85, 122, 149, 0.5);
$font-main-color: #ffffff;
$font-secondary-color: #c1ab7a;
$background-button-main-color: rgba(191, 195, 201, 0.3);
$background-button-secondary-color: #b29e72;

// fonts
$font-family-main: Roboto;
$font-family-text: Lato;
$font-family-title: Comfortaa;
$font-family-third: "Open Sans";
$default-font-size: 0.95vw;

//body{
//   color: #515661;
//   color: #c5ae7c;
//   color: #c3ac7b;
//   color: #ffffff;
//   color: #727272;
//   color: #b29e72;
//   color: #c1ab7a;
//}
